body
{
  font-size: 10px;
}

h5
{
  margin-bottom: 1em;
}

.main-panel
{
  min-height: 600px;
  padding: 0 !important;
}



#header
{
	width: 960px;
	margin: auto;
}

#footer
{
	text-align: center;
	font-size: small;
	color: gray;
}

span.ui-icon
{
  float: left;
  margin: 0 0px;
}

div.icon, span.icon
{
  cursor:pointer;
  float:left;
  margin: 1px 2px 1px 0px;
  padding:0px 0;
  position:relative;
}

div.icon :hover, span.icon :hover
{
  cursor: pointer;
}

input.datepicker
{
  width: 150px;
}

form div.icon
{
  margin: 2px 0px 0px 0px;
}

.ui-tabs
{
  padding: 0;
}

.ui-tabs ul
{
  margin: 1px 1px 1px 1px;
}

.maxwidth
{
  margin: auto;
  width: 970px;
}

.left
{
  float: left;
}

.osiguranik
{
  margin-top: 2px;
  margin-bottom: 2px;
}

.button-bar
{
  text-align: right;
  margin: 10px 0 10px 0;
}

.iznos-premije
{
  float: left;
  margin-top: 6px;
  padding: 4px;
}

#stavka_iznos_premije, #stavke-suma
{
  padding: 3px;
}

.right
{
  text-align: right;
}

.chk-fix input
{
  margin-left: 0px;
  margin-bottom: 9px;
}

.form-row label
{
  font-style: oblique;
  font-weight: normal;
}

.invalid
{
  background-color:#FBE3E4 !important; 
  border-color:#FBC2C4 !important;
}

ul#static-tab-header
{
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  margin: -1px 0px;
}

.dropshadow
{
  -webkit-box-shadow: 5px 5px 5px #888;
  -moz-box-shadow: 5px 5px 5px #888;
  box-shadow: 5px 5px 5px #888;
}

div#header
{
  background: #deedf7;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  min-height: 33px;
  height: 33px;
  width: 970px;
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 1px;
}

div#header-text
{
  text-align: right;
  font: bold 35px helvetica,arial,sans-serif;
  color: #fff;
  margin-right: 10px;
}

div#header-image
{
  min-height: 36px;
}

div#titlebar
{
  margin-top: 4px;
}

th.ui-widget-header
{
  border: 0 !important;
}

table.main-table tbody tr:hover
{
  background-color: #ffc;
  cursor: pointer;
}

tr.selected
{
  background-color: #fcc;
}

.main-table tbody tr:nth-child(even)
{
  background-color: #f1f1f1;
}

#toolbar 
{
  margin-bottom: 8px;
  float: left;
  width: 500px;
}

li
{
  padding: 2px;
}

li:hover
{
  background-color: #ffc;
}

.search-span a
{
  background: #ffffff url("/assets/search_icon.jpg") no-repeat 0px 0px;
  width: 16px;
  height: 16px;
  float: right;
  margin: 3px 0px 0px 4px;
}

.search-span
{
  border: 1px solid #ccc;
  padding: 0px 2px 0px 2px;
  margin-bottom: 4px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.search-span input
{
  border: 0 !important;
  font-size: 1.2em;
  margin: 1px;
  width:130px;
  height: 19px;
}

.search-span input:focus
{
  outline: none;
}

input.message
{
  font-style: italic;
  color: #999;
}

